$width-1: 80rem; // 1280px
$width-2: 60rem; // 960px
$width-3: 55rem; // 880px
$width-4: 45rem; // 720px; 
$width-5: 35rem; // 560px; 
$width-6: 28rem; // 448px;
$width-7: 18rem; // 320px
  
$font-XXXS: 0.625rem; //10
$font-XXS: 0.75rem; //12 
$font-XS: 0.9375rem; //15
$font-SM: 1.125rem; //18
$font-MD: 1.3125rem; // 21
$font-LG: 1.5rem; //24
$font-XL: 2rem; //32
$font-XXL: 2.5rem; //40
$font-XXXL: 3.5rem; //72

$font-weight: (
  "light": 300, 
  "regular": 400, 
  "bold": 700
  );

$line-height-base: 1.35;
 
$clr-bright: #FFFFFF;
$clr-bright-dimmed: rgba($clr-bright, 0.65);
$clr-bright-disabled: rgba($clr-bright, 0.65);
$clr-bright-emph: #EBCB2F;
$clr-link: #33BBFF;
$clr-darker: #0a0a09;
$clr-dark: #171614;
$clr-dark-emph: #7A6831;
$clr-dark-text: #33312B;

$shadow-1: 0 16px 48px 0 rgba(0,0,0,0.35);

$round-corner: 0.25rem;